{% extends "base.html" %}

{% block content %}
    {% if current_user.is_anonymous %}
    <h1>You didn't logged in!</h1>
    <div><p><b>LOG in</b> as soon as possible </p></div>
    {% for user in User %}
    <div><p>id is <b>{{ user.identity }}</b></p></div>
    {% endfor %}
    {% else %}
    <h1>여기가 홈페이지임!</h1>
    {% set count = {'value': 0} %}
    <div><p>
    {% for category in Category %}
    {% if category.cat6 %}
        <p>{{ category.cat6 }}</p>
    {% elif category.cat5 %}
        <p>{{ category.cat5 }}</p>
    {% elif category.cat4 %}
        <p>{{ category.cat4 }}</p>
    {% else %}
        <p>{{ category.cat3 }}</p>
    {% endif %}
    {% if count.update({'value': (count.value - count.value)}) %} {% endif %}
    {% for product in Product %}
        {% if product.product_cat == category.id %}
            {% if count.update({'value': (count.value + 1)}) %} {% endif %}
            {% if count.value == 6 %}
                {% break %} 
            {% endif %}
        {{ product.name }} : {{ product.price }}원 //  
        {% endif %}
    {% endfor %}
    {% endfor %}
    </p></div>
    
    <!--
    <div><p>
    {% set cat_count = 0 %}
    {% for category in Category %}
        {% set cat_count=cat_count+1 %}
        {% if cat_count==6 %}
            {% break %} 
        {% endif %}
    {{ category.cat6 }}
        {% set prod_count = 0 %}
        {% for product in Product %}
            {% set prod_count=prod_count+1 %}
            {% if prod_count==6 %}
                {% break %} 
            {% endif %}
            {% if product.product_cat == category.id %}
            {{ product.name }} : {{ product.price }}원 //  
            {% endif %}
        {% endfor %}
    {% endfor %}
    </p></div>    
    
    </p></div>
    {% for purchase in Purchase %}
    {{ purchase.id }} - {{ purchase.user_id }}- {{ purchase.product_id }} - {{ purchase.purchasetime }}
    {% endfor %}
    </p></div>
    {% for liking in Liking %}
    {{ liking.id }} - {{ liking.user_id }} - {{ liking.product_id }}
    {% endfor %}
    </p></div>-->
    {% endif %}
{% endblock %}