{% extends "base.html" %}

{% block content %}
    {% if current_user.is_anonymous %}
    <h1>You didn't logged in!</h1>
    <div><p><b>LOG in</b> as soon as possible </p></div>
    {% for user in User %}
    <div><p>id is <b>{{ user.identity }}</b></p></div>
    {% endfor %}
    {% else %}
    <h1>여기가 홈페이지임!</h1>
    {% set count = {'value': 0} %}
    <div><p>
    {% for category in Category %}
    {% if category.cat6 %}
        <p>{{ category.cat6 }}</p>
    {% elif category.cat5 %}
        <p>{{ category.cat5 }}</p>
    {% elif category.cat4 %}
        <p>{{ category.cat4 }}</p>
    {% else %}
        <p>{{ category.cat3 }}</p>
    {% endif %}
    {% if count.update({'value': (count.value - count.value)}) %} {% endif %}
    {% for product in Product %}
        {% if product.product_cat == category.id %}
            {% if count.update({'value': (count.value + 1)}) %} {% endif %}
            {% if count.value == 6 %}
                {% break %} 
            {% endif %}
        {{ product.name }} {{ product.image }} : {{ product.price }}원 //  
        {% endif %}
    {% endfor %}
    {% endfor %}
    </p></div>
    {% endif %}
{% endblock %}